<nav class="mobile-menu mobile-menu-vertical mobile-menu-left" id="mobile-menu">
  <div class="mobile-device-menu">
    <div class="mobile-menu-device-container"></div>
  </div>
</nav>
<div class="wrapper-container">
  <div class="bg-white">
    <a href="javascript:;"><div class="topheader"></div></a>
  </div>
  <header class="main-header" role="banner">
    <div class="header-bottom">
      <div class="container">  
        <div class="header-mobile">
          <div class="menu-block visible-phone">
            <div id="showLeftPush"></div>
          </div>

          <div class="customer-area dropdown">
            <a data-toggle="dropdown" href="#">Dropdown trigger</a>
            <div class="dropdown-menu" role="menu" aria-labelledby="dLabel">
              <p><a href="/account/login" alt="Login to VapeRanger Wholesale">Your Account</a></p>
              <p><a href="/pages/register" alt="Create VapeRanger Account">Register</a></p>
              <p><a href="/apps/help-center" alt="Contact VapeRanger">Contact Us</a></p>
            </div>
          </div>
        </div>
        <div class="customer-account-nav">
          <a href="javascript:;">Home</a> |
          <a href="javascript:;">Login</a> |     
          <a href="javascript:;">Sign Up</a> | 
          <a href="javascript:;">Retail Store</a>
        </div>
      
      <div class="header-logo col-xs-12 col-sm-4">
        <a href="javascript:;">
          <img src="assets/image/smoke-logo_small.png" width="150px" alt="">
        </a>
      </div>
      <ul class="customer-links">
        <li>
          <a href="javascript:;"><b>Login</b></a><span class="or">|</span>
          <a href="javascript:;"><span style="color: red;"><b>Create Account</b></span></a>
          <span class="or">|</span>
          <a href="javascript:;"><span style="color: blue;"><b>Retail Store</b></span></a>
        </li>
        <li>&nbsp;|&nbsp;<a href="javascript:;"><b>GCC Forms</b></a></li>
        <li>&nbsp;|&nbsp;<a href="javascript:;"><b>FAQ / HELP</b></a></li>
      </ul>

      <div class="top-header">
        <div class="wrapper-top-cart">
          <p class="top-cart">
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            <a href="javascript:;" id="cartToggle">
              <span class="first">Cart</span>
              <span id="cartCount">0</span>
            </a>
          </p>
          <div id="dropdown-cart" style="display: none;">
            <div class="bag-product clearfix">
              <figure class="pull-left">
                <a class="bag-product-img" href="javascript:;">
                  <img width="120" height="150" src="assets/image/shirt.jpg">
                </a>
              </figure>
              <div class="bag-product-details">
                <div class="bag-product-title">
                  <a href="javascript:;">Cloyd Shirt</a>
                </div>
                <div class="bag-product-price">Unit Price: 
                  <span class="amount">£200</span>
                </div>
                <div class="bag-product-quantity">Quantity: 1</div>
              </div>
              <a href="javascript:;" class="remove-product fa fa-times"></a> 
            </div>
            <div class="has-items">
              <ol class="mini-products-list">
              </ol>
              <div class="summary">
                <p class="total">
                  <span class="label" style="color:#000">Total:</span>
                  <span class="price">$0.00</span>
                </p>
              </div>
              <div class="actions">
                <button class="btn btn2">Go to Cart</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End Top Header -->
      <div class="header-panel-top">
        <div class="nav-search">                            
          <a class="icon-search" href="javascript:;">Search Bar</a>
          <form action="#" method="get" class="input-group search-bar" role="search">
            <input style="min-width: 275px;" type="text" name="q" value="" placeholder="Search Bar" class="input-group-field">
            <span class="input-group-btn">
              <input type="submit" class="btn fa fa-search" value="Search">
            </span>
          </form>
        </div>
        <div class="currency"></div>
      </div>
      <div class="header-panel">
        <div class="row">
          <div class="header-panel-bottom col-xs-8">
          </div>
          <div class="nav-search on">                                
            <a class="icon-search" href="javascript:;">Search Brands, Flavors, Categories</a>
            <form action="#" method="get" class="input-group search-bar" role="search">
              <input style="min-width: 275px;" type="text" name="q" value="" placeholder="Search 1,800 Brands, Flavors, Hardware" class="input-group-field" aria-label="Search Site" autocomplete="off">
              <span class="input-group-btn">
                <input type="submit" class="btn" value="Search">
              </span>
            </form>
          </div>
        </div>
      </div>
      </div>
    </div>
    <nav class="nav-bar" role="navigation">                    
      <div class="container">
        <ul class="site-nav">
          <li class="dropdown">
            <a href="javascript:;">
              <span>Home</span>
              <span class="icon-dropdown"></span>
            </a>
            <div class="site-nav-dropdown">
              <div class="col-md-8 col-sm-9">
                  <ul class="col-sm-4">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-4">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-4">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-4">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-4">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-4">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
            </div>
              <div class="col-md-4 col-sm-3 hidden-xs">
                <div class="menu_image"><a title="" href="javascript:;"><img alt="menu_image" src="http://htmldemo.themesmart.net/flavours/version2/images/menu-bag.png"></a></div>
              </div>
            </div>            
          </li>
          <li class="dropdown ">
            <a href="javascript:;">
              <span>Company</span>
              <span class="icon-dropdown"></span>
            </a>
            <div class="site-nav-dropdown">
              <div class="col-xs-12">
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
            </div>
              <div class="col-sm-12 hidden-xs">
                <div class="col-sm-3">
                  <div class="menu_image"><a title="" href="javascript:;"><img alt="menu_image" src="http://htmldemo.themesmart.net/flavours/version2/images/menu-bag.png"></a></div>
                </div>
                <div class="col-sm-3">
                  <div class="menu_image"><a title="" href="javascript:;"><img alt="menu_image" src="http://htmldemo.themesmart.net/flavours/version2/images/menu-bag.png"></a></div>
                </div>
                <div class="col-sm-3">
                  <div class="menu_image"><a title="" href="javascript:;"><img alt="menu_image" src="http://htmldemo.themesmart.net/flavours/version2/images/menu-bag.png"></a></div>
                </div>
                <div class="col-sm-3">
                  <div class="menu_image"><a title="" href="javascript:;"><img alt="menu_image" src="http://htmldemo.themesmart.net/flavours/version2/images/menu-bag.png"></a></div>
                </div>
              </div>
            </div>
          </li>
          <li><a href="javascript:;">Product</a></li>
          <li class="dropdown ">
            <a href="javascript:;">
              <span>New Stuff</span>
              <span class="icon-dropdown"></span>
            </a>
            <div class="site-nav-dropdown">
              <div class="col-xs-12">
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
            </div>
            </div>
          </li>
          <li><a href="javascript:;">Hardware</a></li>
          <li class="dropdown ">
            <a href="javascript:;">
              <span>Sample</span>
              <span class="icon-dropdown"></span>
            </a>
            <div class="site-nav-dropdown">
              <div class="col-xs-12">
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
                  <ul class="col-sm-2">
                    <li><strong>Hardware</strong></li>
                    <li><a href="javascript:;">All Brands</a></li>
                    <li><a href="javascript:;">Featured Products</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                    <li><a href="javascript:;">Featured Brands</a></li>
                  </ul>
            </div>
            </div>
          </li>
        </ul>
      </div>
    </nav>
  </header>
</div>