<div class="bg-white">
  <main class="main-content container" role="main">
    <div class="row mt-50 mb-50">
      <div class="col-md-9 col-sm-12 col-xs-12 pull-right">
        <div class="row products">
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <div class="product-labels">
                  <span class="new-label title-h6">New</span>
                  <span class="out-of-stock-label title-h6">Out <span class="small">of stock</span></span>
                </div> 
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <div class="product-labels">
                  <span class="new-label title-h6">New</span>
                  <span class="out-of-stock-label title-h6">Out <span class="small">of stock</span></span>
                </div> 
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <div class="product-labels"> <span class="onsale title-h6">Sale!</span></div>
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
          <div class="col-xs-6 col-sm-6 col-md-3 product text-center">
            <div class="product-inner centered-box"> 
              <a href="javascript:;" class="product-image">
                <span class="product-image-inner"> 
                  <picture> 
                    <img src="assets/image/Bags7-thegem_shop_catalog.jpg" class="attachment-thegem_shop_catalog" alt=""> 
                  </picture> 
                  <picture> 
                   <img src="assets/image/Bags6-thegem_shop_catalog.jpg" class="attachment-$size woo-product-hover" alt=""> 
                  </picture> 
                </span> 
              </a>
              <div class="product-info clearfix">
                <div class="product-rating product-rating-empty">
                  <div class="empty-rating"></div>
                </div>
                <div class="product-title title-h6">
                  <a href="javascript:;">Black Tempered Glass Backing (Natural Bl...</a>
                </div>
                <div class="product-price">
                  <span class="price">
                    <span class="woocommerce-Price-amount amount">
                      <span class="woocommerce-Price-currencySymbol">$</span>176.99
                    </span>
                  </span>
                </div>
                <input type="text" class="form-control" placeholder="Enter">
                <input class="ptn-primary btn btn-block mt-10" type="submit" value="Add to the cart">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 col-xs-12">
        <div class="categories_slidebar">
          <h4 class="widget-title">Categories</h4>
          <!--Accordion wrapper-->
          <div class="accordion" id="products-tab" role="tablist" aria-multiselectable="true">
            <!-- Bags -->
            <div class="card">            
              <div class="card-header" role="tab" id="bags">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne" class="">
                      Bags <i class="fa fa-angle-up"></i></a>
              </div>
              <div id="collapseOne" class="collapse in" role="tabpanel" aria-labelledby="bags">
                  <ul class="card-body">
                    <li><a href="javascript:;">Bags-1</a></li>
                    <li><a href="javascript:;">Bags-2</a></li>
                    <li><a href="javascript:;">Bags-3</a></li>
                  </ul>
              </div>
            </div>
            <!-- End Bags -->
            <!-- Sunglass -->
            <div class="card">            
              <div class="card-header" role="tab" id="sunglass">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      Sunglass <i class="fa fa-angle-up"></i></a>
              </div>
              <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="sunglass" data-parent="#accordionEx">
                  <ul class="card-body">
                    <li><a href="javascript:;">Sunglass-1</a></li>
                    <li><a href="javascript:;">Sunglass-2</a></li>
                    <li><a href="javascript:;">Sunglass-3</a></li>
                  </ul>
              </div>
            </div>
            <!-- End Sunglass -->
          </div>
          <!--/.Accordion wrapper-->
          <h4 class="widget-title">Categories 2</h4>
          <!--Accordion wrapper-->
          <div class="accordion" id="products-tab" role="tablist" aria-multiselectable="true">
            <!-- Bags -->
            <div class="card">            
              <div class="card-header" role="tab" id="bags-2">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree" class="">
                      Bags <i class="fa fa-angle-up"></i></a>
              </div>
              <div id="collapseThree" class="collapse" role="tabpanel" aria-labelledby="bags">
                  <ul class="card-body">
                    <li><a href="javascript:;">Bags-1</a></li>
                    <li><a href="javascript:;">Bags-2</a></li>
                    <li><a href="javascript:;">Bags-3</a></li>
                  </ul>
              </div>
            </div>
            <!-- End Bags -->
            <!-- Sunglass -->
            <div class="card">            
              <div class="card-header" role="tab" id="sunglass">
                  <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Sunglass <i class="fa fa-angle-up"></i></a>
              </div>
              <div id="collapseFour" class="collapse" role="tabpanel" aria-labelledby="sunglass" data-parent="#accordionEx">
                  <ul class="card-body">
                    <li><a href="javascript:;">Sunglass-1</a></li>
                    <li><a href="javascript:;">Sunglass-2</a></li>
                    <li><a href="javascript:;">Sunglass-3</a></li>
                  </ul>
              </div>
            </div>
            <!-- End Sunglass -->
          </div>
          <!--/.Accordion wrapper-->
        </div>
      </div>
    </div>
  </main>
  </div>