.categories_slidebar {
    width: 100%;
    float: left;
    border: 1px solid #dfe5e8;
}

.categories_slidebar .widget-title {
    width: 100%;
    float: left;
    text-transform: uppercase;
    color: #ff3427;
    font-weight: bold;
    padding: 12px;
    margin: 0;
    border-bottom: 1px solid #dfe5e8;
}
#products-tab {
    background: #f4f6f7;
    width: 100%;
    float: left;
}

#products-tab .card-header {padding: 0 12px;border-bottom: 1px solid #dfe5e8;}
#products-tab .collapsed i {
    transform: rotate(180deg);
    
}
#products-tab .card-header i {
    float: right;
    padding: 6px 0;
    transition: all 0.3s ease;
}

#products-tab .card-header a {
    color: #333;
    padding: 12px 0;
    display: block;
    text-decoration: none;
}

#products-tab .card-body {
    padding-left: 0;
    margin: 0;
    list-style: none;
}

#products-tab .card-body a {
    padding: 10px 12px;
    display: block;
    border-bottom: 1px solid #dfe5e8;
}
#products-tab .card {
    width: 100%;
    float: left;
}

.products .product-inner {
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    overflow: visible;
    border: 1px solid #dfe5e8;
    background-color: #fff;
    box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
    margin-bottom: 30px;
}
.products .product-image {
    display: block;
    text-align: center;
    position: relative;
    margin: -1px -1px 0 !important;
    background-color: #f4f6f7;
}
.product .product-labels {
    position: absolute;
    width: 60px;
    right: -21px;
    top: 21px;
    z-index: 2;
}
.product .onsale {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 14px;
    text-align: center;
    border-radius: 50%;
    z-index: 2;
    margin: 0 auto;
    background-color: #00bcd4;
    color: #fff;
}
.product .new-label {
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    font-size: 12px;
    text-align: center;
    border-radius: 50%;
    z-index: 1;
    background: #393d50;
    color: #fff;
    margin: 0 auto;
}
.product .out-of-stock-label {
    position: relative;
    display: block;
    width: 60px;
    height: 60px;
    font-size: 14px;
    line-height: 14px;
    text-align: center;
    border-radius: 50%;
    background: #f44336;
    margin: 0 auto;
    text-transform: uppercase;
    padding-top: 17px;
    color: #fff;
    font-weight: bold;
}
.product .onsale + .out-of-stock-label, .product .new-label+.out-of-stock-label {
    margin-top: -15px;
}
.product .out-of-stock-label .small {
    font-size: 8px;
    display: block;
}
.products .product-image-inner {
    display: block;
    position: relative;
    overflow: hidden;
}
.products .product-image img {
    display: inline-block;
    width: 136px;
    height: 136px;
    object-fit: contain;
}
.products .product-image-inner picture:last-child {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 500%;
    text-align: center;
    background: #f4f6f7;    
    -o-transition: all 0.25s ease-out;
    -webkit-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
}
.products .product-info {
    padding: 0px 8px 8px;
}
.products .product-info .product-rating {
    min-height: 16px;
}
.products .product-info .product-rating .empty-rating {
    padding-top: 8px;
    padding-bottom: 7px;
}
.products .product-info .product-rating .empty-rating:before {
    content: '';
    display: block;
    border: 0 none;
    border-top: 1px solid red;
    width: 50px;
    margin: 0 auto;
}

.products .product-info .product-title {
    margin-bottom: 0;    
    color: #5f727f;
        line-height: 16px;
        font-size: 12px;
}
.products .product-info .price ins, .products .product-info .price .amount {
    color: #00bcd4;    
        line-height: 18px;
        font-size: 13px;
            margin: 3px 0;
    display: block;
}
.products .product-inner:hover {
    border-color: #f4f6f7;
        background-color: #f4f6f7;
}
.products .product-inner:hover .product-image-inner picture:last-child{
   left: 0;
}
@media (max-width: 767px)
{
  .products .product-info .btn {
    font-size: 12px;
    height: 30px;
  }
}

