<main class="main-content container" role="main">
  <div class="topstyle">
    <a href="javascript:;"><img src="assets/image/top-ads-2.png" alt=""></a>
  </div>
  <section class="main-slideshow">
    <div class="flexslider">
      <ul class="slides">
        <li class="slide">
          <img width="1200" height="auto" src="assets/image/slideshow_1.jpg" class="slide-img" alt="" />
        </li>
        <li class="slide">
          <img width="1200" height="auto" src="assets/image/slideshow_2.jpg" class="slide-img" alt="" />
        </li>
        <li class="slide">
          <img width="1200" height="auto" src="assets/image/slideshow_1.jpg" class="slide-img" alt="" />
        </li>
        <li class="slide">
          <img width="1200" height="auto" src="assets/image/slideshow_2.jpg" class="slide-img" alt="" />
        </li>
      </ul>
    </div>
    <!-- /.flexslider -->
  </section>

  <!-- Start Maincontainer -->
  <div class="col-sm-3 hidden-xs">
    <section class="mainsections homepage-sidebar">
      <div class="featured-product-header">
        <img class="featured-product-img" src="assets/image/NewStuffFinal.png" alt="">
      </div>
      <div class="product-wrapper2 featuredBrand">
        <a href="javascript:;">
          <img class="featured-product-img" src="assets/image/favorites1.png" alt=""> 
        </a>
      </div>
      <div class="product-wrapper2 featuredBrand">
        <a href="javascript:;">
          <img class="featured-product-img" src="assets/image/favorites1.png" alt=""> 
        </a>
      </div>
      <div class="product-wrapper2 featuredBrand">
        <a href="javascript:;">
          <img class="featured-product-img" src="assets/image/favorites1.png" alt=""> 
        </a>
      </div>
      <div class="product-wrapper2 featuredBrand">
        <a href="javascript:;">
          <img class="featured-product-img" src="assets/image/favorites1.png" alt=""> 
        </a>
      </div>
      <div class="product-wrapper2 featuredBrand">
        <a href="javascript:;">
          <img class="featured-product-img" src="assets/image/favorites1.png" alt=""> 
        </a>
      </div>
      <div class="product-wrapper2 featuredBrand">
        <a href="javascript:;">
          <img class="featured-product-img" src="assets/image/favorites1.png" alt=""> 
        </a>
      </div>
      <div class="product-wrapper2 featuredBrand">
        <a href="javascript:;">
          <img class="featured-product-img" src="assets/image/favorites1.png" alt=""> 
        </a>
      </div>
    </section>
  </div>


  <div class="col-sm-9 col-xs-12">
    <section class="mainsections widget-new-product">
      <div class="featured-product-header">
        <a href="javascript:;">
          <img class="featured-product-img" src="assets/image/FeaturedProducts2.png" alt="">
        </a>
      </div>
      <!-- old title -->
      <div class="widget-product" style="padding-top: 10px;">
        <div class="products-grid row">
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="0ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="25ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="50ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="75ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="100ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="125ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="150ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="175ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="200ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="225ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="250ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  on-sale wow fadeIn" data-wow-delay="275ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;" alt="">
                    <h3>Vapes Handcrafted Joose</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mainsections bottomfix six-banner">
      <a href="javascript:;"><img alt="" src="assets/image/slideshow_1.jpg"></a>
    </section>

    <section class="widget-trending-product mainsections">
      <div class="widget-title wow fadeIn maintitle">
        <fieldset class="box-title">
          <legend align="center">
            <a href="javascript:;"> New Products </a>
          </legend>
        </fieldset>
      </div>
      <div class="widget-product">
        <div class="products-grid row owl-carousel">
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="0ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="25ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="50ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="75ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="100ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="125ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="150ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="175ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="200ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="widget-trending-product mainsections">
      <div class="widget-title wow fadeIn maintitle">
        <fieldset class="box-title">
          <legend align="center">
            <a href="javascript:;"> New Products </a>
          </legend>
        </fieldset>
      </div>
      <div class="widget-product">
        <div class="products-grid row owl-carousel">
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="0ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="25ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="50ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="75ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="100ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="125ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="150ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="175ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
            <div class="inner product-item  wow fadeIn" data-wow-delay="200ms">
              <div class="inner-top">
                <div class="product-top">
                  <div class="product-image">
                    <a href="javascript:;" class=" product-grid-image">
                      <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                    </a>
                  </div>
                </div>
                <div class="product-bottom">
                  <a class="product-title" href="javascript:;">
                    <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="widget-trending-product  mainsections">
      <div class="widget-title wow fadeIn maintitle">
        <fieldset class="box-title">
          <legend align="center">
            <a href="javascript:;">New hardware</a>
          </legend>
        </fieldset>
      </div>
      <div class="widget-product">
        <div class="widget-product">
          <div class="products-grid row owl-carousel">
            <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
              <div class="inner product-item  wow fadeIn" data-wow-delay="0ms">
                <div class="inner-top">
                  <div class="product-top">
                    <div class="product-image">
                      <a href="javascript:;" class=" product-grid-image">
                        <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="product-bottom">
                    <a class="product-title" href="javascript:;">
                      <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
              <div class="inner product-item  wow fadeIn" data-wow-delay="25ms">
                <div class="inner-top">
                  <div class="product-top">
                    <div class="product-image">
                      <a href="javascript:;" class=" product-grid-image">
                        <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="product-bottom">
                    <a class="product-title" href="javascript:;">
                      <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
              <div class="inner product-item  wow fadeIn" data-wow-delay="50ms">
                <div class="inner-top">
                  <div class="product-top">
                    <div class="product-image">
                      <a href="javascript:;" class=" product-grid-image">
                        <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="product-bottom">
                    <a class="product-title" href="javascript:;">
                      <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
              <div class="inner product-item  wow fadeIn" data-wow-delay="75ms">
                <div class="inner-top">
                  <div class="product-top">
                    <div class="product-image">
                      <a href="javascript:;" class=" product-grid-image">
                        <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="product-bottom">
                    <a class="product-title" href="javascript:;">
                      <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
              <div class="inner product-item  wow fadeIn" data-wow-delay="100ms">
                <div class="inner-top">
                  <div class="product-top">
                    <div class="product-image">
                      <a href="javascript:;" class=" product-grid-image">
                        <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="product-bottom">
                    <a class="product-title" href="javascript:;">
                      <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
              <div class="inner product-item  wow fadeIn" data-wow-delay="125ms">
                <div class="inner-top">
                  <div class="product-top">
                    <div class="product-image">
                      <a href="javascript:;" class=" product-grid-image">
                        <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="product-bottom">
                    <a class="product-title" href="javascript:;">
                      <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
              <div class="inner product-item  wow fadeIn" data-wow-delay="150ms">
                <div class="inner-top">
                  <div class="product-top">
                    <div class="product-image">
                      <a href="javascript:;" class=" product-grid-image">
                        <img src="assets/image/product-1.jpg" class="lazyload" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="product-bottom">
                    <a class="product-title" href="javascript:;">
                      <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
              <div class="inner product-item  wow fadeIn" data-wow-delay="175ms">
                <div class="inner-top">
                  <div class="product-top">
                    <div class="product-image">
                      <a href="javascript:;" class=" product-grid-image">
                        <img src="assets/image/product-2.jpg" class="lazyload" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="product-bottom">
                    <a class="product-title" href="javascript:;">
                      <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
            <div class="  grid-item col-xs-6 col-sm-4  col-lg-2">
              <div class="inner product-item  wow fadeIn" data-wow-delay="200ms">
                <div class="inner-top">
                  <div class="product-top">
                    <div class="product-image">
                      <a href="javascript:;" class=" product-grid-image">
                        <img src="assets/image/product-3.jpg" class="lazyload" alt="">
                      </a>
                    </div>
                  </div>
                  <div class="product-bottom">
                    <a class="product-title" href="javascript:;">
                      <h3>Lorem ipsum amet dummy text Fresh Pressed E-Liquid</h3>
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</main>