<footer class="site-footer clearsides" role="contentinfo">
  <div class="wrapper">
      <div class="footer-top">
          <div class="row">
              <div class="col-1 wow fadeInUp" data-wow-delay="25ms">
                  <h2>Pages</h2>
                  <ul>
                      <li>
                          <h3><a href="javascript:;" title="">All eJuice</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">All Hardware</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Nicotine Salts</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Top 15 Selling eJuice</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Hottest Brands</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">New eJuice</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Vape News</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">eJuice Request</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Distributor Pricing</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Looking For Retail?</a></h3>
                      </li>
                  </ul>
              </div>
              <div class="col-2 wow fadeInUp" data-wow-delay="50ms">
                  <h2>Information</h2>
                  <ul>
                      <li>
                          <h3><a href="javascript:;" title="">FAQ / Help</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">List Your Brand</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Vendor Information</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">GCC Certificates</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">FDA Registrations</a></h3>
                      </li>
                  </ul>
              </div>
              <div class="col-3 wow fadeInUp" data-wow-delay="75ms">
                  <h2>Customer Service</h2>
                  <ul>
                      <li>
                          <h3><a href="javascript:;" title="">About Us</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Contact Us</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Privacy Policy</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Terms Of Service</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">DMCA Policy</a></h3>
                      </li>
                      <li>
                          <h3><a href="javascript:;" title="">Return / Shipping Policy</a></h3>
                      </li>
                  </ul>
              </div>
              <div class="col-4 wow fadeInUp last" data-wow-delay="100ms">
                  <h2>Contact Us: +1 631 777 3487</h2>
                  <ul class="social">                                
                      <li class="facebook">
                          <a href="javascript:;">Facebook</a>
                      </li>
                      <li class="instagram">
                          <a href="javascript:;">Instagram</a>
                      </li>
                      <li class="pinterest">
                          <a href="javascript:;">Pinterest</a>
                      </li>
                  </ul>
                  <div class="text">
                      <span><img src="assets/image/text-title.png" alt=""></span>
                  </div>
                  <section class="newsletter">
                      <div class="block-title wow fadeIn" data-wow-delay="200ms">
                          <h3 data-wow-delay="100ms"><span>Email Newsletter</span></h3>
                      </div>
                      <div class="block-content wow fadeIn" data-wow-delay="400ms">
                          <form action="" method="post" class="input-group">
                              <input type="email" value="" placeholder="enter your email address" name="EMAIL" class="input-group-field">
                              <span class="input-group-btn">
                                <input type="submit" class="btn" value="Subscribe" name="subscribe">
                              </span>
                          </form>
                      </div>
                  </section>
              </div>
          </div>
      </div>
      <div class="footer-bottom  wow fadeInUp" data-wow-delay="125ms">
          <address>
            © 2016-2018 VapeRanger. All Rights Reserved.<br>All content, images, branding, designs, logos, and other intellectual property appearing on this Website are the respective property of the individual brands, unless otherwise stated.  Information may be subject to copyright/trademark ownership by the vendor or brand.  Reproduction or alteration without the expressed written permission may be a violation of their copyright/trademark or ownership. Questions, E-Mail: <a href="mailto:xyz@example.com" target="_top"><strong>xyz@example.com</strong></a><hr style="border-top: 1px solid #373737;">
            <p><strong>VapeRanger Partners</strong></p>
            <ul>
              <li><a href="javascript:;">https://www.example.com/</a></li>
              <li><a href="javascript:;">https://www.example.com</a></li>
            </ul>
            <hr style="border-top: 1px solid #373737;">
          </address>
          <div id="payment-methods">
            <span class="payment-method">
              <a href="javascript:;"><img src="assets/image/icon-cc-visa.png" alt="visa"></a>
            </span>
            <span class="payment-method">
              <a href="javascript:;"><img src="assets/image/icon-cc-american-express.png" alt="american-express"></a>
            </span>
            <span class="payment-method">
              <a href="javascript:;"><img src="assets/image/icon-cc-mastercard.png" alt="mastercard"></a>
            </span>
          </div>
          <br/>
          <p class="font-13 text-gray">Vaperanger.com offers 1,800+ brands of eLiquid, eJuice, Vape Mods at the best wholesale prices. All eLiquid and Devices ship directly from the manufacturer or their distributor. VapeRanger features Premium e-Liquid brands such as Naked 100 E-Liquid, Ruthless, One Hit Wonder, Kilo/Bazooka/Moo, Cuttwood Vapors!</p>
          <br/>
          <p class="font-13 text-gray">Free Shipping only applies to orders placed through www.VapeRanger.com and to the 48 continental United States addresses.</p>
          <p style="font-size: 13px; color: grey;">Adult Signature required for all deliveries. </p>
          <br/>
          <p class="font-13 text-gray">CALIFORNIA PROPOSITION 65 Warning: Nicotine products contain a chemical known to the state of California to cause birth defects or other reproductive harm. Do not use if you are pregnant, and/ or breastfeeding.</p>
          <br/>
          <p class="font-13 text-gray">These products are intended for use by persons 18 or older, and not by children, women who are pregnant or breast-feeding, or persons with or at risk of heart disease, high blood pressure, diabetes, or taking medicine for depression or asthma. If you have a demonstrated allergy or sensitivity to nicotine or any combination of inhalants, consult your physician before using this product. This product is sold purely for recreational purposes – it is not a smoking cessation product and has not been tested as such. </p>
          <br/>
      </div>
  </div>
</footer>